*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: powderblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
}

button{
  padding: 9px;
  margin: 12px;
  margin-left: 0;
  font-size: large;
  border-radius: 7px;
  border: none;
  background-color: rgb(249, 101, 190);
  color: azure;
  box-shadow: 3px 4px 4px gray;
}
h2{
  margin: 15px;
  color: blue;
}
p{
  color: darkgreen;
  font-size: 22px;
  line-height: 40px;
  
}